/* CSS Standard */

/******** SOMMAIRE ************/
/*
/* 00 = FONTS
/* 01 = RESET
/* 02 = STYLES GLOBAUX = client.css
/* 03 = STRUCTURE
/* 04 = HEADER
/* 05 = FOOTER
/* ==== PAGES ====
/* 06 = ACCUEIL
/* 07 = PAGE INTERNE
/* 08 = ACTUALITÉS
/* 09 = AGENDA
/* 10 = ANNUAIRE
/* 11 = RECHERCHE
/* 12 = MÉDIATHÈQUE
/* 13 = VIDÉOTHÈQUE
/* 14 = SOMMAIRE
/* 15 = PUBLICATIONS
/* ==== MODULES ====
/* 16 = BREADCRUMBS
/* 17 = SHARE & TOOLS
/* 18 = FORMULAIRE
/* 19 = PAGINATION
/* 20 = DIAPORAMA
/* 21 = MODALES
/* 22 = LOGIN
/* 23 = PROFILS
/* 24 = MÉTÉO
/* 25 = COOKIE CONSENT
/* 26 = LEAFLET
/* 27 = MENUS
/* RESPONSIVE
/*
/******************************/


/* 00 = FONTS */
body:last-child .blueimp-gallery>.play-pause::before,
body:last-child .blueimp-gallery-playing>.play-pause::before,
.filters .ui-datepicker .ui-datepicker-prev::before,
.filters .ui-datepicker .ui-datepicker-next::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  text-rendering: auto;
}
.fa {
  font-family: "Font Awesome 5 Free";
}

/* 01 = RESET */
/* BOOTSTRAP */
.frame {
  padding: 0;
}
.frame-collapsible, .frame-background-none.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-none.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-primary.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-primary.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-secondary.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-secondary.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-light.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-light.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-dark.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-dark.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage) {
  margin: 0;
}
.textmedia-text > p:last-child, 
.textpic-text > p:last-child {
  margin-bottom: 2rem;
}
.modal-header {
  flex-direction: row-reverse;
}
.modal-header .close {
  margin: 0;
}
.textmedia-gallery,
.textpic-gallery {
  margin-bottom: 0; /* présent même vide ! */
}
.textmedia-gallery .gallery-row:last-child {
   margin-bottom: 0;
}
.textmedia-below .textmedia-gallery {
  margin-bottom: 2rem;
}
.accordion,
.frame-inner > .accordion:last-child {
  margin-bottom: 2rem;
}
#modalShareAgenda {
  font-family: Roboto,Arial,"Helvetica Neue",Helvetica,sans-serif;
}
  #modalShareAgenda .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    max-width: inherit;
    transform: translate(-50%,-50%);    
  }
    #modalShareAgenda .modal-content {
      border: 0;
      border-radius: 5px;
      min-width: 630px;
      background-color: #f9f9f9;
      box-shadow: 0 0 20px rgba(0,0,0,.35);
    }
      #modalShareAgenda .modal-header {
        align-items: center;
        flex-direction: row;
        border: 0;
        padding: 30px;
        text-align: center;
      }
        #modalShareAgenda .title {
          font-size: 1.125em;
          font-weight: 600;
        }
      #modalShareAgenda .modal-body {
        padding: 0 30px;
      }
        #modalShareAgenda .modal-body_title {
          font-size: .875em;
          font-weight: 600;
          margin-bottom: 15px;
        }
        #modalShareAgenda .share-links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 50px;
        }
          #modalShareAgenda .btn-primary {
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            padding: 0 12px;
            background-color: #fff;
            color: #000;
            font-size: .875em;
            width: calc(25% - 5px);
          }
            #modalShareAgenda .share-icon {
              display: inline-block;
              height: 32px;
              margin-right: 15px; 
              min-width: 32px;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: 32px auto;
            }
            #modalShareAgenda .googleCalendar .share-icon {
              background-image: url(../Img/google.svg);
            }          
            #modalShareAgenda .windowsLive .share-icon {
              background-image: url(../Img/outlook.svg);
            }
            #modalShareAgenda .yahooCalendar .share-icon {
              background-image: url(../Img/yahoo.svg);
            }
            #modalShareAgenda .iCal .share-icon {
              background-image: url(../Img/iCal.svg);
            }
      #modalShareAgenda .modal-footer {
        background-color: #fff;
        border-radius: 0 0 5px 5px;
      }
        #modalShareAgenda .close {
          border: 1px solid #e5e5e5;
          border-radius: 3px;
          height: 30px;
          padding: 0px 15px;
          color: #737373;
          font-size: .875em;
          font-weight: 400;
          opacity: 1;
        }



/*html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0; 
    padding: 0;
}
form,fieldset {
    border: none;
}
img {
    -ms-interpolation-mode: bicubic; 
    vertical-align: middle;
}*/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/* Taille texte */
html {
  font-size: 100%; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}
body {
  color: #333; 
  font-size: 1rem; 
  -webkit-font-smoothing: antialiased;
}
.hidden {
  display: none !important;
}
/*.frame {
    margin: 0; 
    padding: 0;
}
.newLazyload {
    opacity: .3; 
    transition: opacity .2s ease-in;
}*/
/*.list-unstyled {
    margin:0; 
    padding:0;
}
.input-group {
    width:100%;
}*/

/* Formulaires */
/*.radio label,
.checkbox label {
    padding-left: 0;
}*/

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}


/* 02 = STYLES GLOBAUX = client.css */
/* Tailles polices */
.typo_size1 .site-main .rte-content {font-size:100%;}
.typo_size2 .site-main .rte-content {font-size:120%;}
.typo_size3 .site-main .rte-content {font-size:140%;}

/* https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/

.selector {

  POSITIONING
  position: ;
  z-index: ;
  top: ;
  right: ;

  DISPLAY & BOX MODEL
  display: ;
  overflow: ;
  box-sizing: ;
  width: ;
  height: ;
  padding: ;
  border: ;
  margin: ;

  COLOR
  background: ;
  color: ;
  
  TEXT
  font-family: ;
  font-size: ;
  line-height: ;
  text-align: ;

  OTHER
  cursor: ;
  
}
*/

/* Ajout de la class is-fixed quand élément atteint haut de page (voir demo.js) */
.is-fixed { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transform: translateY(-100%);
  animation-name: bring-back-fixed;
  animation-duration: 500ms;
  
  animation-fill-mode: forwards;
}

@keyframes bring-back-fixed {
   0% {
    
  }
  100% {
    transform: translateY(0);
  }
}

/* LOADING */
/*** Reprend les styles de "fa fa-spinner fa-spin" // Changer le "background-color" et le "color" selon le projet,voire aussi le "content" */
.loading {
    /*position: relative;*/
    display: block;
    height: 250px; 
    margin: 0 auto; 
    /*max-height: 100%; 
    max-width: 100%;*/
    overflow: hidden;
    /*width: 710px;*/
    background: #f5f5f5 url("../Assets/blueimp/img/loading-alt.svg") no-repeat center center;
    background-size: 80px 80px;
}


/*  03 = STRUCTURE */
.site-main {
  padding-bottom: 2rem;
}

/*  04 = HEADER */
/*  Skip links  */
.skip-links {
  position: absolute; 
  left: 0; 
  z-index: 9999999;
  
  list-style-type: none; 

}
.skip-links .skip-item {
  left: 0;     
  position: absolute; 
  top: -500px; 
  display: inline-block;
  padding:.6em;
  transition: none;
  white-space: nowrap; 
}
  .skip-item:focus {
    left: 0;
    top: 0;    
    background: #000; 
    color: #fff; 
    z-index: 9999; 
}

/* LOGO */
.navbar-brand {
  margin: 0;
  padding: 0;
}


/*  05 = FOOTER */
/* Retour haut de page*/
.to-page-top,
.to-page-top:hover,
.to-page-top:active {
    background-color: #00acc1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 20px;
    color: #fff;
    display: block;
    position: fixed;
    right: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.to-page-top__icon {
	font-size: 1.3rem;
	transition: all 300ms;
}
.to-page-top:hover .to-page-top__icon{
	transform: translateY(-3px);
}


/* 08 = ACTUALITéS */
.item-actualite-list-wrapper .item {
  position: relative;
}
.item-actualite-list-wrapper .item::before {
  content: "";

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
  /*-webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);*/
  transform: scale(1.3);
  pointer-events: none;
  border: 3px solid rgba(48,161,192,0);
  /*-webkit-transition: -webkit-transform 0s .3s,border .3s,background .3s;*/
  transition: transform 0s .3s,border .3s,background .3s;
}

.item-actualite-list-wrapper .item:hover::before {
  background: rgba(255,255,255,.05);
  /*-webkit-transform: scale(1);
  -ms-transform: scale(1);*/
  transform: scale(1);
  border-color: rgba(48,161,192,1);
 /* -webkit-transition: -webkit-transform .3s cubic-bezier(.5,2,.5,.7),border .3s,background .3s;*/
  transition: transform .3s cubic-bezier(.5,2,.5,.7),border .3s,background .3s;
}


/* 08 = BREADCRUMBS */
.breadcrumb {
  display: block;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: #03192b;
  font-size: .875rem;
  font-weight: 600;  
}
  .breadcrumb a {
    color: #737373;
    font-weight: 200;
  }
  .breadcrumb a:hover,
  .breadcrumb a:active,
  .breadcrumb a:focus {
    color: #03192b;
  }
    .breadcrumb a .breadcrumb__separator {
      color: #737373;
      font-size: 1rem;
      font-weight: 200;
    }
.breadcrumb__separator {
  color: inherit;
  margin: 0 5px;
  color: #737373;
  font-size: 1rem;
  font-weight: 200;
}
/* on cache flèche retour, on la montre en mobile */
.breadcrumb__separator--back {
  display: none;
}
.breadcrumb-first {
  color: inherit; 
}
.breadcrumb-link {
  color: inherit;  
}
.breadcrumb-last {
  color: inherit;
}
.breadcrumb__home-icon {
  font-size: 1rem; 
}
.breadcrumb .d-md-none {
  margin: -3px 5px 0 0;
}


/* 09 = AGENDA */
/* Filtres */
.filters .row {
  width: 100%;
}
/* Switch */
.filters .switch input + label {
  position: relative;
  cursor: pointer;
}
.filters .switch input + label::before,
.switch input + label::after {
  position: absolute;
  display: block;    
  content: "";
}
.filters .switch input + label::before {
  left: 0;
  border: 0;  
  height: 26px;
  width: 50px;
  border-radius: 17px;
  background-color: #007090;
  transition-property: background-color;
  z-index: 1;
}
.filters .switch input:checked + label::before {
  background-color: #ffd205;
}
.filters .switch input + label::after {
  height: 20px;    
  width: 20px;

  border-radius: 50%;    

  background-color: #fff;

  transition-property: background-color,left;
  z-index: 2;
}
.filters .switch input:checked + label::after {
  left: 30px;
}
.filters .switch input:checked + label::before,
.filters .switch input:checked + label::after {
  color: #30a1c0;
}
.button-search {
  border: 1px solid #ced4da;
  border-radius: 50%;    
  height: 38px;
  width: 38px;

  display: block;

  background-color: transparent;
  color: #333;

  cursor: pointer;
}

/* Calendrier */
.filters .calendar .form-control {
  text-align: left;
}
.filters .dropdown .dropdown-menu {
  background-color: #fff; 
  box-shadow: 0 0 6px rgba(0,0,0,.3);
}
.filters .calendar-render {
  padding: 10px;
}
.filters .calendar-render .thosedates {
  display: flex;
  justify-content: space-between;
}
    .filters .calendar-render .thosedates .btn-primary {
      height: 40px;
      padding: 5px 10px 2px;
      font-size: .8rem;
    }
.filters .calendar-render .checkbox {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
}
    .filters .calendar-render .checkbox .sr-only {
        height: 0;
    }
.filters .calendar-render .btn::after,
.filters .calendar-render .btn::before {
  content: none;
}
.filters .ui-datepicker {
  padding: 20px 10px 0;
}
.filters .ui-datepicker-title {
  position: absolute;
  top: 0;
  margin-bottom:15px;
  width: 100%;
  color:#333; 
  font-size:1em; 
  font-weight:700;
}
.ui-datepicker-header {
  position:relative;
}
.calendar-render .ui-datepicker .ui-datepicker-prev,
.calendar-render .ui-datepicker .ui-datepicker-next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0;
    height: 28px;
    width: 28px;
    line-height: 1;
    cursor:pointer;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 0;
}
.filters .ui-datepicker .ui-datepicker-prev::before,
.filters .ui-datepicker .ui-datepicker-next::before {
  font-weight: 600;
}
.filters .ui-datepicker .ui-datepicker-prev::before {  
  content: "\f053";
}
.filters .ui-datepicker .ui-datepicker-next::before {
  content: "\f054";
}
.ui-datepicker-header .ui-icon {
  display: inline-block; 
  height: 0;
  overflow: hidden;
  text-indent: 200%;
}

.filters .ui-state-hover {
  border-color: #ec4b52;
}
.filters .ui-state-default {
  font-size: 1em;
}
.filters .ui-datepicker th {
  font-weight: 700;
}
.getpost {
  margin-bottom: 30px;
  padding: 25px;
  background-color: #f1f4ff;
}
.calendar-render .ui-datepicker table {
  width: 100%;
  font-size: 1em;
}
.calendar-render .ui-datepicker th,
.calendar-render .ui-datepicker td {
  padding: 0;
}
.calendar-render .ui-datepicker a {
  color: #666
}
.calendar-render .ui-datepicker a:hover,
.calendar-render .ui-datepicker .ui-state-highlight {
  color: #00acc1;
}
/* Critères */
.criteria .btn-primary {
  margin-left: 5px;
}
.criteria .btn-primary .fa-times {
  margin-left: 5px;
  cursor: pointer;
}



/* 11 = RECHERCHE */

/* 17 = SHARE & TOOLS */
.modal {
  z-index: 999999;
}

/* 18 = FORMULAIRE */
.form-group .row {
  margin: 0;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group .form-control {
  position: relative;
  float: left;  

  margin-bottom: 0;
  width: 100%;

  z-index: 2;
}
.input-group-addon {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 0px;  

  background-color: #eee;
  color: #555;  

  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.radio label, .checkbox label {
  margin-bottom: 0;
  cursor: pointer;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: static;  
  display: inline-block;
  margin: 0 .5rem 0 0;
}
.form-group .date .col-xs-12 {
  padding: 0;
}
.form-horizontal .container-fluid {
  padding: 0;
}
input[type="file"] {
  display: block;
}
.help-block {
  color: #737373;
}
/*.input-group.date { CELA VA CASSER L'INPUT "DATE AVEC CALENDRIER" => À VOIR AVEC SÉBASTIEN
  display: flex;
}*/



.filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.filter__item {
    padding: 0.5em 1em;
    background-color: #f1f1f1;
    margin: 5px;
}
.filter__item--checked {
  background-color: #00acc1;
  color: white;
  font-weight: bold;
}
.filter__item--checked:hover {
  color: white;
}

/* Erreurs */
.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline, 
.has-error.radio label, 
.has-error.checkbox label, 
.has-error.radio-inline label, 
.has-error.checkbox-inline label {
  margin: 0;
  color:#f00;
}
.has-error .help-block {
    font-size: .85em;
}
.rte-content .obligatoires {
  margin: 0;
}

label {
 display:inline-block;
 margin-bottom:0.5rem
}
button {
 border-radius:0
}
button:focus {
 outline:1px dotted;
 outline:5px auto -webkit-focus-ring-color
}
input,
button,
select,
optgroup,
textarea {
 margin:0;
 font-family:inherit;
 font-size:inherit;
 line-height:inherit
}
button,
input {
 overflow:visible
}
button,
select {
 text-transform:none
}
select {
 word-wrap:normal
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
 -webkit-appearance:button
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
 cursor:pointer
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
 padding:0;
 border-style:none
}
input[type="radio"],
input[type="checkbox"] {
 box-sizing:border-box;
 padding:0
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
 -webkit-appearance:listbox
}
textarea {
 overflow:auto;
 resize:vertical
}
fieldset {
 min-width:0;
 padding:0;
 margin:0;
 border:0
}
legend {
 display:block;
 width:100%;
 max-width:100%;
 padding:0;
 margin-bottom:0.5rem;
 font-size:1.5rem;
 line-height:inherit;
 color:inherit;
 white-space:normal
}
progress {
 vertical-align:baseline
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
 height:auto
}
[type="search"] {
 outline-offset:-2px;
 -webkit-appearance:none
}
[type="search"]::-webkit-search-decoration {
 -webkit-appearance:none
}

.main .contentTitle {
    color: 
    #fff;
    font-size: 4em;
    font-weight: normal;
    margin: 31px auto;
    text-transform: uppercase;
}


form {
  padding: 0 20px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  margin-bottom: 10px;
}
legend {
  margin-bottom: .75em;
  padding-top: 15px;
  font-size: 1.5em;
    color: #03192b;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
label {
  color: #03192b;
  font-size: 1.125em;
  font-weight: 300;
  margin-top: 5px;  
}
label em,
legend em  {
  font-style: normal;
  color: #0093bd;
  font-size: .875em;
  font-weight: 400;
  text-transform: none;
}
input,
textarea {
  border-color: #d2d2d2;
}
.form-group abbr[title],
.form-horizontal abbr[title] {
    color: #0093bd;
    text-decoration: none;
}
.form-control {
  border-color: #d2d2d2;
  border-radius: 5px !important;
}

.form-control[type=email] {
  border-right: 0;
  border-radius: 5px 0 0 5px !important;
}
.input-group-addon {
  background-color: transparent;
  color: #999;
  border-radius: 0 5px 5px 0 !important;
}

.form-control:focus {
  border-color: #343434;  
}

.pageunecolonne input.form-control {
  height: 55px;
}
.captcha strong {
  font-weight: 600;
}

.captcha ul {
  padding: 0 !important;
}

.captcha .serie .control-label {
  display: flex;
  align-items: center;
  justify-content: center;
    border-color: #d2d2d2;
  height: 50px;
  padding-top: 5px;
    width: 50px;
    font-size: 18px;
    line-height: 1;
}
.captcha .serie input:checked + .control-label {
  font-weight: bold;
}
form .submit {
  display: inline-flex;
    align-items: center;
    border-radius: 25px;
    border-width: 3px;
    height: 50px;
    padding: 0 30px;
    color: #333;
    background-color: #ffd205;
    border-color: #ffd205;
    text-decoration: none;
}



/* 20 = DIAPORAMA */
/* GALERIE */

/* BLUEIMP - GALLERY + CAROUSEL */
.blueimp-gallery-carousel {
  box-shadow: none;
}
.blueimp-gallery-carousel .title {
  font-size: 1rem; 
  font-weight: 700; 
  line-height: 1;
}
.blueimp-gallery-carousel .counter {
  position: absolute;
  bottom: 0; 
  left:5px;
  top: auto;

  color: #fff;
  font-size: 1.5rem;
  opacity:.5;
}
.blueimp-gallery-carousel .fullScreen {
  position: absolute;
  left: auto; 
  right: 0;
  top: 0;

  height: 50px;
  width: 50px;

  color: #fff; 
  font-size:1.3em;
  line-height:50px;
  text-align:center;

  cursor:pointer;  
  opacity:.5;     
  transition-property:opacity;
}
.blueimp-gallery-carousel .fullScreen:active,
.blueimp-gallery-carousel .fullScreen:focus,
.blueimp-gallery-carousel .fullScreen:hover,
.blueimp-gallery-carousel .play-payse:active,
.blueimp-gallery-carousel .play-payse:focus,
.blueimp-gallery-carousel .play-payse:hover {
  opacity:1;
}
body:last-child .blueimp-gallery>.play-pause { 
  bottom: 0;
  right: 0;

  height: 50px;
  width: 50px;

  background-image:none; 
  color:#fff; 

  font-size:1.5rem;
  line-height:50px;  
  text-align: center; 

  transition-property:opacity;
}
body:last-child .blueimp-gallery>.play-pause::before {
  content: "\f04b";
  display: inline-block;  
  font-size: inherit;
  font-weight: 700;
  text-rendering: auto;  
}
body:last-child .blueimp-gallery-playing>.play-pause::before { 
  content:"\f04c";
  font-weight: 700px;
}
.blueimp-gallery>.next,
.blueimp-gallery >.prev {
  border: 0;
  border-radius:50%;
  height: 46px;
  width: 46px;
  line-height: 0;
  text-shadow: none;
  transition-property: opacity;
}
  .blueimp-gallery-controls > .next .fa,
  .blueimp-gallery-controls > .prev .fa {
    color: #fff; 
    font-size: 24px; 
    line-height: 45px;
  }
    .blueimp-gallery-controls > .prev .fa-angle-left:before {
      content: "\f053";
    }
    .blueimp-gallery-controls > .next .fa-angle-right:before {
      content: "\f054";
    }
    .blueimp-gallery>.close:hover, 
    .blueimp-gallery>.next:hover, 
    .blueimp-gallery>.play-pause:hover, 
    .blueimp-gallery>.prev:hover, 
    .blueimp-gallery>.title:hover {
      background-color: #ffd205;
    }
.pswp {
  z-index: 100000;
}
.blueimp-gallery .counter,
.blueimp-gallery .fullScreen {
  position: absolute;
  bottom: auto;
  left: 15px;
  top: 15px;
  border-radius: 25px;
  padding: 10px 15px 7px;
  background: rgba(0,0,0,.25);
  color: #fff;
  font-size: 16px;
  line-height: 1;
  opacity: 1;
}
.blueimp-gallery .fullScreen {
  display: flex;
  left: auto;
  right: 15px;
  height: auto;
  padding: 11px 15px 10px;
  width: auto;
}
.blueimp-gallery .fullScreen:hover {
  background-color: #ffd205;
}
  .blueimp-gallery .fullScreen span {
    color: #fff;
    font-size: 12px;
  }
  .fullScreen .fa-play {
    margin: 0 10px 0 0;
  }
  .fullScreen .fa-clone {

  }

/* Vignettes */
.diaporama-controls {
  text-align: center;
}
.diaporama-controls .next,
.diaporama-controls .prev {
  width: 10%;
}
.diaporama-controls .indicator,
.diaporama-controls .next,
.diaporama-controls .prev {
  display: inline-block; 
  vertical-align: middle;
}
.diaporama-controls .next,
.diaporama-controls .prev {
  height: 40px;
  width: 40px;

  border: 0 !important; 
  border-radius: 50% !important; 

  color: #222; 
  font-family: monospace; 
  font-size: 32px;
  line-height: 40px;    

  cursor: pointer; 
  transition-property: background-color,color; 
}
.diaporama-controls .next::before,
.diaporama-controls .prev::before {
  color: #484848;
}
.diaporama-controls .next:active,
.diaporama-controls .prev:active,
.diaporama-controls .next:focus,
.diaporama-controls .prev:focus,
.diaporama-controls .next:hover,
.diaporama-controls .prev:hover {
  background-color: #222; 
  color: #fff;
  border-radius: 5px;
}
.diaporama-controls .next:active::before,
.diaporama-controls .prev:active::before,
.diaporama-controls .next:focus::before,
.diaporama-controls .prev:focus::before,
.diaporama-controls .next:hover::before,
.diaporama-controls .prev:hover::before {
  color:#fff;
}
.diaporama-controls .indicator {
  position: relative;
  height: 60px;
  width: 80%;
  overflow: hidden;
}
.diaporama-controls ul { 
  position: absolute;
  left: 0; 
  top: 0;

  margin:0; 
  padding:0;   

  white-space: nowrap;
  transition: left .2s ease-in;
}
.diaporama-controls ul li {
  display: inline-block;
  border: 5px solid transparent; 
  border-radius: 0; 
  padding: 0;

  cursor: pointer;   
  -webkit-transition: all 0.2s ease; 
  transition: all 0.2s ease; 
  vertical-align: middle;
}
.diaporama-controls ul li::before {
  display:none;
}
.diaporama-controls ul li:hover {
  border-color:#222;
}
.diaporama-controls ul li.active {
  border-color:rgba(0,0,0,.9);
}
.diaporama-controls ul li img {
  height: 50px; 
  width: auto;
}
.blueimp-gallery>.indicator>li {  
  border: 5px solid transparent; 
  border-radius: 0; 
  -webkit-transition: all 0.2s ease; 
  transition: all 0.2s ease;
}
.blueimp-gallery>.indicator>.active,
.blueimp-gallery>.indicator>li:hover {
  border-color: #222; 
  border-radius: 5px;
}
/* Galerie full-page */
.blueimp-gallery>.indicator>li {
  background-size:cover;
}
.blueimp-gallery>.close {
  height: 50px;
  width: 50px;
  padding: 0; 
  line-height: 50px;
  text-align: center;
}
.blueimp-gallery>.close .fa-times {
  font-size: 1.5rem;
}


/* 25 = COOKIE CONSENT */
.modal-cookie-consent {
  position: fixed;
  left :0;
  top: 0;
  z-index: 10000;
  display: block;
  height:100%;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0,0,0,.7);
}
.modal-cookie-consent-content {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  padding: 0;    
  height:auto; 
     
  background-color: #fff;
}
.modal-cookie-consent-header h2 {
  margin-bottom: 0;
  padding: 40px;
  color: #333; 
  font-size: 24px; 
  font-weight: bold; 
}
.modal-cookie-consent-part1 {
  display: flex;
}
#atfc-form-choices p,
.modal-cookie-consent-body p {
  margin:0; padding:0 40px;
  font-size: 16px;
}
#atfc-form-choices p:last-child,
.modal-cookie-consent-body p:last-child {
  margin-bottom: 40px;
}
.plugin-cookie-consent #atfc-form-choices p {
  padding: 0 0 1em;
}
#atfc-form-choices p a,
.modal-cookie-consent-body p a {
  padding: 0 15px 1em;  
  font-weight: bold;
}
.modal-cookie-consent-part2 {
  display: none;
}
#atfc-form-choices label {
  display: block; 
  margin-bottom: 0;
}
#atfc-form-choices label input {
  position: relative;
  top: 3px;

  height: 18px; 
  margin-right: 5px; 
  width: 18px;
}
.modal-cookie-consent-footer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 40px 0;
  min-width: 240px;
}
.modal-cookie-consent-btn-params,
.modal-cookie-consent-btn-accept {
  display: inline-flex;
  align-items: center;
  justify-content: center;      
  border: 0;
  border-radius: 5px;
  height: 60px;
  width: 200px;
  font-size: 18px; 
  font-weight: bold;
}
.modal-cookie-consent-btn-accept {
  margin-bottom: 10px;
}
.modal-cookie-consent-btn-params {
  background-color: #f1f1f1;
  font-weight: 400;
  text-decoration: underline;
}
.modal-cookie-consent .modal-cookie-consent-btn-params,
.modal-cookie-consent .modal-cookie-consent-btn-accept {   
  cursor: pointer;
}
.plugin-cookie-consent .modal-cookie-consent-btn-accept {
  border-radius:20px; 
  height:40px; 
  margin:1em auto; 
  padding:0 20px;

  line-height:1; 
}
.plugin-cookie-consent-message {
  padding:6px 12px;

  background-color:#5cb85c; 
  border-color:#4cae4c; 
  color:#fff; 

  font-size:1.5em; 
}


/* 27 = MENUS
/* plan du site */
.frame-type-menu_sitemap .frame-inner > ul > li > a {
  display: none;
}
.frame-type-menu_sitemap > div > div > ul > li {
  background: none;
}
.frame-type-menu_sitemap ul ul {
    margin: 0 0 0 3px;  
    padding: 10px 0 0;

    background: url(../Img/icons/sitemap-dot.png) 0 bottom repeat-y;

    list-style: none outside;
}
.frame-type-menu_sitemap ul ul ul {
    margin: 0 0 0 10px;
    padding: 0;
}
.frame-type-menu_sitemap li {
    margin-left: 1px;
    padding: 0 0 0 10px;

    display: block;  

    background: url(../Img/icons/sitemap-dot.png) 0 12px repeat-x;
}
.frame-type-menu_sitemap a {
    border: 0;  
    padding: 0 0 5px 24px;

    display: block;

    background: url("../Img/icons/ico-page.png") 5px 6px no-repeat #FFF;
    color: #333;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.frame-type-menu_sitemap a:hover {
  background-size: inherit;
}

.frame-type-menu_sitemap ul ul ul a {
    font-style: italic;
    font-weight: 400;
    text-transform: none;
}
.frame-type-menu_sitemap ul ul ul ul a {
    font-size: 12px;
    font-style: normal;
}
/* Menu secondaire */
.bloc-siblings {
  margin-bottom: 1rem;
}


/* RESPONSIVE ************************************************ */

/* DESKTOP = Grands */
@media screen and (min-width:1200px) {

/* 09 = AGENDA */
  /* Filtres */
  .filters .col-xs-12 {
    padding: 0 5px;
  }
}

/* DESKTOP = Tous */
@media screen and (min-width:992px) {

}


/* TABLET & MOBILE */
@media screen and (max-width:991px) {

/* 01 = RESET */
  .textmedia,
  .textpic {
    margin: 0;
  }

/* 09 = AGENDA */
  /* Filtres */
  .filters {
    padding: 20px;
  }
  .filters .row {
    margin: 0;
    flex-direction: column;
  }
  .filters .col-xs-12,
  .filters .filters-search {
    padding: 0;
  }
  .filters .col-md-3 {
    max-width: inherit;
  }
  .filters .switch {
    height: 70px;
  }

}


/* MOBILE = Tous */
@media screen and (max-width:767px) {

/* 01 = RESET */
  .textmedia-text > *:last-child,
  .textpic-text > *:last-child {
    margin-bottom: 1rem;
  }
  .hide-mobile {
    display: none;
  }
  /* BOOTSTRAP */
  #modalShareAgenda .modal-dialog {
    left: 0;
    top: 0;
    width: 100vw;
    transform: none;
  }
    #modalShareAgenda .modal-content {
      border-radius: 0;
      height: calc(100vh - 60px);
      min-width: inherit;
    }
      #modalShareAgenda .modal-header {
        padding: 20px;
        text-align: inherit;
      }
      #modalShareAgenda .modal-body {
        padding: 0 20px;
      }
        #modalShareAgenda .share-links {
          flex-wrap: wrap;
        }
          #modalShareAgenda .btn-primary {
            margin-bottom: 10px;
            width: calc(50% - 5px);
          }    
      #modalShareAgenda .modal-footer {
        flex-direction: row;
        padding: 15px;
      }

/* 08 = BREADCRUMBS */
  .breadcrumb-link {
    color: #03192b;
  }

  /* Contenu Pages */
  .textmedia-right .textmedia-gallery {
    order: -1;
  }

/* 25 = COOKIE CONSENT */
.modal-cookie-consent {
  bottom: 0;
}
  .modal-cookie-consent-content {
    height: 100%;
    overflow-y: auto;
  }
    .modal-cookie-consent-part1 {
      flex-direction: column;
    }
      .modal-cookie-consent-body {
        max-height: 100%;
      }
        .modal-cookie-consent-header h2 {
          padding: 30px;
        }
        #atfc-form-choices p,
        .modal-cookie-consent-body p {
          padding: 0 30px 1em;
        }
        #atfc-form-choices p:last-child,
        .modal-cookie-consent-body p:last-child {
          margin-bottom: 90px;
        }
          #atfc-form-choices label {
            display: flex;
          }
            #atfc-form-choices label input {
              margin-right: 20px;
              min-width: 20px;
            }
            #atfc-form-choices label strong {
              margin-bottom: .75rem;
            }
              #atfc-form-choices label strong span {
                display: block;
                font-style: italic;
                font-weight: normal;    
              }
        .modal-cookie-consent-footer {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          flex-direction: row;
          margin-left: 0;
          min-width: inherit;
          padding: 0;
        }
          .modal-cookie-consent-btn-params,
          .modal-cookie-consent-btn-accept {
            border-radius: 0; 
          }
          .modal-cookie-consent-btn-accept {
            margin-bottom:0;
          }

}

/* Mobile */
@media screen and (max-width: 575px) {

  /* 6 = Agenda */
  .safari .filters .switch input + label {
    height: 45px;
  }
    .filters .switch input + label::before {
      top: 7px;
    }
    .filters .switch input + label::after {
      top: 10px;
    }

}

/* MOBILE = Petits */
@media screen and (max-width:480px) {

/* 17 = DIAPORAMA */
  /* BLUEIMP - GALLERY + CAROUSEL */
  .diaporama-controls .indicator {
      width: 68%;
  }
}
